@font-face {
  font-family: "PixelOperatorMono8";
  src: local("PixelOperatorMono8"),
    url("./fonts/PixelOperator/PixelOperatorMono8.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PixelOperatorMono8";
  src: local("PixelOperatorMono8-Bold"),
    url("./fonts/PixelOperator/PixelOperatorMono8-Bold.ttf") format("truetype");
  font-weight: normal;
}
