name: Push to develop branch
on:
  push:
    branches:
      - develop
jobs:
  release:
    name: Release UI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'yarn'
      - name: Install dependencies
        run: make install-ci
      - name: Prettier check, Eslint check, Typescript check
        run: make code-quality-check
      - name: Run tests
        run: make test
      - name: Release UI
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PUBLISHING_TOKEN }}
        run: make release
